@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,h2,h3 {
  font-family: 'Clash Display', sans-serif;
}